<div class="animated fadeIn p-4">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">Información de horas trabajadas</h4>
        </div>
        <div class="col-md-12">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-expanded="false">Filtro</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">CODIGO</a>
                        <a class="dropdown-item" href="#">DUI</a>
                        <a class="dropdown-item" href="#">NOMBRE</a>
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="date-input">Fecha Inicio</label>
                <div class="col-md-4">
                  <input class="form-control" type="date" name="fechaNacimiento"  placeholder="date">
                </div>
                <label class="col-md-2 col-form-label" for="date-input">Fecha Final</label>
                <div class="col-md-4">
                  <input class="form-control" type="date" name="ingresoEmpresa"  placeholder="date">
                </div>
              </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                  <i class="fa fa-info"></i> Daniel Fernando Medina Méndez
                </div>
                <div class="card-body">
                  <table class="table table-bordered table-hover">
                    <thead class="table-warning">
                      <tr>
                        <th>Fecha</th>
                        <th>Hora Entrada</th>
                        <th>Hora Salida Almuerzo</th>
                        <th>Hora Entrada Almuerzo</th>
                        <th>Hora Salida</th>
                        <th>Minutos Tardes</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let marcacion of marcacioneList">
                        <td>{{marcacion.fecha}}</td>
                        <td>{{marcacion.horaEntrada}}</td>
                        <td>{{marcacion.horaSalidaAlmuerzo}}</td>
                        <td>{{marcacion.horaEntradaAlmuerzo}}</td>
                        <td>{{marcacion.horaSalida}}</td>
                        <td>{{marcacion.minutosTardes}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{totalMinutes}}</td>
                        </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            
        </div>
        <div class="col-md-6">
          <div class="card p-3">
            <h4>Descuentos Aplicados</h4>
            <div class="container">
              <div class="row" style="height: 200px;">
                <div class="col-md-12">
                  <p>Total Minutos Tardes: 180 Minutos</p>
                  <p style="font-weight: bold;">Salario a descontar:  $23.45</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card p-3">
            <h4>Permisos del mes</h4>
            <div class="row" style="height: 200px;overflow-y: scroll;">
              <div class="col-md-12 contenedor" >
                <div class="alert alert-danger">
                  <p>12/10/2021</p>
                  <p style="font-weight: bold;">Permisos para entrada tardes, por motivos personales</p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="alert alert-danger">
                  <p>12/10/2021</p>
                  <p style="font-weight: bold;">Permisos para entrada tardes, por motivos personales</p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="alert alert-danger">
                  <p>12/10/2021</p>
                  <p style="font-weight: bold;">Permisos para entrada tardes, por motivos personales</p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="alert alert-danger">
                  <p>12/10/2021</p>
                  <p style="font-weight: bold;">Permisos para entrada tardes, por motivos personales</p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="alert alert-danger">
                  <p>12/10/2021</p>
                  <p style="font-weight: bold;">Permisos para entrada tardes, por motivos personales</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>